<link rel="stylesheet" href="/css/about.css">

<h2>About Arget</h2>

<div id="aboutcontainer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h3>History</h3>
				<p>Gadget Emporium was founded six years past the resurection of the twelth island off the east coast of zimbabwe. </p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum tortor quis est posuere ultrices. Mauris non aliquam ante. Proin bibendum, magna ut consequat condimentum, justo massa vehicula magna, vitae tempor nulla urna eu nulla. Nulla facilisi. Pellentesque porttitor consequat erat, in eleifend magna mollis condimentum. Sed ac molestie justo. Sed mi tortor, viverra ut lacus eget, ultrices sagittis massa. Sed luctus arcu eget metus tincidunt venenatis vitae eu nisl. In tempus nibh vel ligula varius eleifend ac eu lacus. Nullam nulla libero, efficitur in nunc eu, tincidunt egestas tellus.</p>
				<p>Pellentesque porttitor consequat erat, in eleifend magna mollis condimentum. Sed ac molestie justo. Sed mi tortor, viverra ut lacus eget, ultrices sagittis massa. Sed luctus arcu eget metus tincidunt venenatis vitae eu nisl. In tempus nibh vel ligula varius eleifend ac eu lacus. Nullam nulla libero, efficitur in nunc eu, tincidunt egestas tellus.</p>
			</div>
			<div class="col-sm-6">
				<h3>Contact</h3>
				<p>There are but a few ways you can contact us and even those can be unreliable at times. If you do not here back from use with in two years time please understand that your message has been lost and that you will need to try again. </p>

			</div>
		</div>
	</div>

	<div id="googleMap"></div>
</div>

<!-- Add Google Maps -->
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
    var myCenter = new google.maps.LatLng(-20.514966, -29.321725);

    function initialize() {
        var mapProp = {
            center: myCenter
            , zoom: 12
            , scrollwheel: true
            , draggable: false
            , mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        var marker = new google.maps.Marker({
            position: myCenter
        , });
        marker.setMap(map);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>