<link rel="stylesheet" href="/css/cart.css">
 

<h1> Checkout </h1>
<div id="cartcontainer">

  <% a = @user.products.split(" ")  %>



  <div id="top">
    <table id="t">
      <tr>
        <td>Name</td>
        <td>Quantity</td>
        <td>Price</td>
      </tr>
      <%for i in 1...a.length - 1%>
        <tr>
          <th><%= @products[a[i].to_i][:name] %></th>
          <th>1</th>
          <th>$<%= @products[a[i].to_i][:price] %></th>
        </tr>
      <%end%>
    </table>
  </div>

<form id="b" method="POST" action="/cart">
  <table>
    <tr>
      <td><label for="cardnumber">Card Number</label></th>
      <td><label for="sc">Security Code</label></th>
    </tr>
    <tr>
      <th><input type="text" name="cardnumber"></th>
      <th><input type="text" name="sc"></th>
    </tr>
    <tr>
      <td><label for="nameoncard">Name on Card</label></th>
      <td><label for="expir">Expiration</label></th>
    </tr>
    <tr>
      <th><input type="text" name="number"></th>
      <th><input type="text" name="sc"></th>
    </tr>
  </table>

  <br>
  <div id="subcontainer">
    <input class='bttn' type="submit" value="submit">
  </div>
</form>

</div>