<link rel="stylesheet" href="/css/front.css">

<div id="fontcontainer">

	<div id="eyecontainer">
		<div id="eye">
			<div id="core">
				<div id="pupil"></div>
			</div>
		</div>
	</div>

	<div id="top">
		<h1>Welcome to Arget</h1>
		<h5>Artifact and Gadget Emporium</h5>
	</div>

	<div id="bottom">
		<h4>Please sign up or log in to access this website</h4>
		<div class="container">
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-4"><a href="/signup"><div class="bttn">Sign Up</div></a></div>
				<div class="col-sm-4"><a href="/login"><div class="bttn">Login</div></a></div>
				<div class="col-sm-2"></div>
			</div>
		</div>

	</div>

</div>