<!DOCTYPE html>

<html>

    <head>
        <title>Name here</title>
        
    </head>
    
    <body>
        <nav>This is the nav area</nav>
    
    
        <footer>A footer is here</footer>
    </body>
</html>