<link rel="stylesheet" href="/css/product.css">

<h1>Product</h1>

<div id="productcontainer">
    <div class="container">
    <% for i in 0...(@products.count/2) do %>
	    <div class="row">
	    	<% for j in 0...3 do %>
	    	<% if @products.count <= (i*3)+j; break end %>
				<div class="col-sm-4" id=<%'#{@products.name}'%>>
				 
					<div class="prodcontent">
	                	<div id="productimage">
                    <div id="<%= @products[(i*3)+j][:name] %>" class="addbttn"></div>
	                        <h1><%= @products[(i*3)+j][:name] %></h1>
	                        
	                        <img src="/image/<%= @products[(i*3)+j][:img] %>" alt="blaster">
	                    </div>
	                    <div id="productdescription">	                        
	                        <%= @products[(i*3)+j][:description] %>
	                    </div>
	                </div>
	            </div>
	    	<% end %>
	    </div>
    <% end %>
    </div>

    <div id="s"> Submit </div>
</div>
 
<script>
 	// var array = [1,2,3,4,6]
 	
 	// $.ajax({
  //       url : "/add",
  //       type : "post",
  //       data : { data_value: JSON.stringify(array) }
  //   });

var arr = " ";
$(document).ready(function(){

    // Black magic that handles on click events for the product page
    $.post("getdata", function(result) {
        var a = $.parseJSON(result)
        for (i = 0; i < a.length; i++) {
           
          (function(j) {
              $("#"+a[i]["name"]).click(() => addtoarray(j) );
          })(a[i]["name"] + a[i]["price"] + " ");
        


        }
    
        

    });

    // alert(<% @products.count %>);
 
    $("#s").click(function() {
       addtoarray("Total" + " ");
      $.ajax({
              url : "/add",
              type : "post",
              data : { data_value: JSON.stringify(arr) },
            });


      window.location = '/cart';
    });

});

function addtoarray(str) {
  arr += str;
}

</script>