<h1>THis is the product page</h1>

<div id="productcontainer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="prodcontent">
                    <div id="productimage">
                        <h1>Blaster</h1> <img src="/image/blaster.jpg" alt="blaster"> </div>
                    <div id="productdescription"> This is where all the text will go! This is where all the text will go! This is where all the text will go! </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="prodcontent">
                    <div id="productimage">
                        <h1>Blaster</h1> <img src="/image/hook.jpg" alt="blaster"> </div>
                    <div id="productdescription"> This is where all the text will go! This is where all the text will go! This is where all the text will go! This is where all the text will go! </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="prodcontent">
                    <div id="productimage"> <h1>Blaster</h1> <img src="/image/lightsaber.jpg" alt="blaster"> </div>
                    <div id="productdescription"> This is where all the text will go! This is where all the text will go! This is where all the text will go! This is where all the text will go! </div>
                </div>
            </div>
        </div>
    </div>
</div>