<link rel="stylesheet" href="/css/signup.css">

<div id="signupcontainer">
  <h1>Signup</h1>

  <form method="POST" action="/sign">
    <table>
      <tr>
       <tr>
         <td><label for="username">Username</label></td>
        <td><input name="username" type="text" placeholder="Enter your username" /></td>
        </tr>
        <td><label for="email">Email</label></td>
        <td><input name="email" type="text" placeholder="Enter your username" /></td>
      </tr>
      <tr>
        <td><label for="password">Password</label></td>
        <td><input name="password" type="password" placeholder="Enter your password" /></td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center;"><input type="submit" /></td>
      </tr>
    </table>
  </form>

</div>