#cartcontainer {

}

#top {
	padding: 1em;
}

table {
	padding: 1em;
	/*background-color: blue;*/
	width: 100%;
	max-width: 500px;
	margin: 0 auto;

}

td {
	font-size: 1.5em;
}

td, th {
    border-bottom-style: solid;
    text-align: left;
    padding: 8px;
    width: 100%;
}

th > input {
	width: 100%;
}

.bttn {
	width: 100%;
	max-width: 200px;
	margin: 0 auto;

}

#subcontainer {
	text-align: right;
	margin: 0 auto;
	width: 100%;
	max-width: 900px;
}