#fontcontainer {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#fontcontainer > #top {
	text-align: center;
}

#top > h1 {
	font-size: 4em;
}

#fontcontainer > #bottom {
	text-align: center;	
}