#fontcontainer {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#fontcontainer > #top {
	text-align: center;
}

#top > h1 {
	font-size: 4em;
}

#fontcontainer > #bottom {
	text-align: center;	
}

#eyecontainer {
	/*background-color: red;*/
	height: 250px;
	width: 250px;
	margin: auto;
	padding: 2em;
}

#eye {
	background-color: white;
	width: 100%;
	height: 100%;

	animation-name: eyetwitch;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-transition: linear;
}

#core {
	/*background-color: red;*/
	width: 50%;
	height: 50%;
	border-radius: 100%;
	border: 5px solid black;
	transform: translateX(120px) translateY(120px);

	animation-name: eyelook;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-transition: linear;
}

#pupil {
	background-color: black;
	width: 95%;
	height: 95%;
	border-radius: 100%;
	transform: translateX(3.5%) translateY(3.5%);
}

 #eye:hover {
    background-color: red;
} 

@keyframes eyetwitch {
  0% { border-radius: 100% 0 100% 0; }
  45% { border-radius: 90% 0 90% 0; }
  50% { border-radius: 100% 0 100% 0; }
  65% { border-radius: 80% 0 80% 0; }
  100% { border-radius: 100% 0 100% 0; }
}

@keyframes eyelook {
  0% { transform: translateX(40px) translateY(40px); }
  10% { transform: translateX(80px) translateY(60px); }
  20% { transform: translateX(80px) translateY(60px); }

  30% { transform: translateX(60px) translateY(85px); }
  60% { transform: translateX(60px) translateY(85px); }

  70% { transform: translateX(75px) translateY(50px); }
  80% { transform: translateX(75px) translateY(50px); }
  90% { transform: translateX(40px) translateY(40px); }
  100% { transform: translateX(40px) translateY(40px); }
}