@font-face {
    font-family: reg-font;
    src: url("../font/NotoSans-Regular.ttf");
}

* {
    font-family: reg-font;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #f0f0f0;
    transition: .2s;
}

html, body {
    height: 100%;
}

:root {
    width: 100vw;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

#pagecontent {
    margin: 0 auto;
    width: 80vw;
    min-height: 100%;
    background-color: #000;
}

.nooverflow {
    overflow: hidden;
    width: 100vw;
}

/* Nav */
nav {
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    
/*    height: 15vw;*/
/*    background-color: red;*/
/*    font-size: 3vw;*/
/*    transform: translateY(67px);*/
padding: 1em;
}

#navtab {
/*    position: absolute;*/
/*    top: 0;*/
}

/* Footer */
footer {
    z-index: 1;
    position: relative;
    color: black;
    float: right;
    padding: 20px;
    transform: translateY(40px);
}

.triangleTop {
    z-index: -1;
    border-width: 100px 95vw 0 0;
    border-style:solid;
    border-color:#fff transparent transparent #fff;
    transform: translateX(-5vw) skew(00deg, 0deg);
}

.triangleBottom {
    z-index: -1;
    border-width:0 0 100px 95vw;
    border-style:solid;
    border-color:transparent #fff #fff transparent;
    transform: translateX(-10vw) skew(0deg, 0deg);
}


#maincontent {
    padding: 1em 1em;
    margin: 0;
    min-height: calc(100vh - 200px);
}

#submit > input {
    margin: 1em;
    background-color: rgba(256,256,256,.7);
    color: black;
    font-size: 2em;
    width: 100%;
    border-radius: 10px 100px;
    transition-duration: .45s;
    border:none;
}

#submit > input:hover {
    text-decoration: underline;
    background-color: white;
    border-radius: 100px 10px;
}

.bttn {
    background-color: rgba(256,256,256,.7);
    color: black;
    font-size: 2em;
    width: 100%;
    border-radius: 10px 100px;
    transition-duration: .45s;
}

.bttn:hover{
    background-color: white;
    border-radius: 100px 10px;
}

@media only screen and (max-width: 750px) {    
    #pagecontent {
        width: 100vw;
    }

    .triangleTop {
        border-width: 200px 100vw 0 0;
        transform: translateX(0vw) skew(00deg, 0deg);
    }

    .triangleBottom {
        border-width:0 0 100px 100vw;
        transform: translateX(0vw) skew(0deg, 0deg);
    }

}

