#productcontainer {
    margin: 0;
    padding: 0;
}

#productcontainer >.container {
    padding: 0;
    margin: 0;
    width: 100%;
    
}

#productcontainer > .container > .row {
    margin: 0;
    width: 100%;
}

#productcontainer > .container > .row > .col-sm-4 {
    overflow: hidden;
    border-radius: 2em;
    padding: 1em;
}

.prodcontent {
    border-radius: 2em;
    overflow: hidden;
    background-color: white;
}

#productcontainer > .container > .row > .col-sm-4:hover {
    animation-name: testing;
    animation-timing-function: ease-in-out;
    animation-duration: .5s;
    background-color: white;
}

#productimage {
    width: 100%;
}

#productimage > h1{
    color: black;
    width: 100%;
    text-align: center;    
}

#productimage img {
    margin: 0 auto;
    width: 100%;
}


#productdescription {
    padding: .75em;
    width: 100%;
    color: black;
}

@keyframes testing {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(.97);
    }
    75% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}

#s {

       
       position: relative;
       left: 500px;


}

#s:hover {

    color: blue;
}